---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardHeader from "../components/CardHeader.astro";
import Footer from "../components/Footer.astro";
import Button from "../components/Button.astro";
import { LastFM } from "../components/react/LastFM";

import { Icon } from "astro-icon/components";

import personal_site from "../assets/images/personal_site.png";
import dash_banner from "../assets/images/dash-banner.png";
import dh_portal from "../assets/images/dh_portal.png";
import salesbop from "../assets/images/salesbop.png";
import cs_wiki from "../assets/images/cs_wiki.png";
import oscs from "../assets/images/oscs.png";

import { Image } from "astro:assets";

// const projectWidths = undefined;
// const projectSizes = undefined;

const projectWidths = [256, 658, 1040, 1316];
const projectSizes =
  "(min-width: 1480px) 658px, (min-width: 780px) 45.59vw, calc(100vw - 66px)";
---

<Layout title="Jason Huang">
  <main class="container">
    <div class="grid grid-cols-1 items-baseline gap-4 md:grid-cols-2">
      <!-- Hero -->
      <div class="mt-8 space-y-4">
        <h1 class="text-5xl font-bold">Jason Huang</h1>
        <p>AKA: err53, error53, json, jhthenerd</p>
        <ul class="text-xl">
          <li>Full-Stack Developer</li>
          <li>Uni Student</li>
          <li>Open-Knowledge Advocate</li>
        </ul>
      </div>
      <!-- Socials -->
      <div class="md:justify-self-end">
        <h2 class="text-3xl font-semibold md:text-right">Socials</h2>
        <div class="flex flex-wrap gap-2 pt-3 md:justify-end">
          <Button label="Twitter" href="https://twitter.com/err_53">
            <Icon name="fa6-brands:x-twitter" size={40} />
          </Button>
          <Button
            label="LinkedIn"
            href="https://www.linkedin.com/in/jasonhuang03/"
          >
            <Icon name="fa6-brands:linkedin-in" size={40} />
          </Button>
          <Button label="Instagram" href="https://www.instagram.com/the.err53/">
            <Icon name="fa6-brands:instagram" size={40} />
          </Button>
          <Button label="Github" href="https://github.com/err53">
            <Icon name="fa6-brands:github" size={40} />
          </Button>
          <Button label="Medium" href="https://err53.medium.com/">
            <Icon name="fa6-brands:medium" size={40} />
          </Button>
        </div>
      </div>
      <!-- Resume -->
      <div>
        <h2 class="text-3xl font-semibold">Resume</h2>
        <div class="pt-3">
          <Card href="https://err53.github.io/resume/resume.pdf">
            <CardHeader>
              <h3 class="text-2xl">PDF</h3>
              <p>Written in LaTeX and compiled via GH Actions</p>
            </CardHeader>
          </Card>
        </div>
      </div>
      <!-- Projects -->
      <div class="col-span-full">
        <h2 class="text-3xl font-semibold">Projects</h2>
        <div class="grid grid-cols-1 gap-4 py-3 md:grid-cols-2">
          <Card href="https://github.com/err53/personal-site">
            <CardHeader>
              <h3 class="text-2xl">Personal Site</h3>
              <p>You're looking at it right now!</p>
            </CardHeader>
            <Image
              src={personal_site}
              alt="A screenshot of this website."
              widths={projectWidths}
              sizes={projectSizes}
            />
          </Card>

          <Card href="https://github.com/Krish120003/dash">
            <CardHeader>
              <h3 class="text-2xl">Dash</h3>
              <p>A personalizable new-tab dashboard</p>
            </CardHeader>
            <Image
              src={dash_banner}
              alt="A screenshot of Dash."
              widths={projectWidths}
              sizes={projectSizes}
            />
          </Card>

          <Card href="https://github.com/deltahacks/portal">
            <CardHeader>
              <h3 class="text-2xl">DeltaHacks Portal</h3>
              <p>A hackathon registration and management system</p>
            </CardHeader>
            <Image
              src={dh_portal}
              alt="A screenshot of the DeltaHacks portal."
              widths={projectWidths}
              sizes={projectSizes}
            />
          </Card>

          <Card href="https://www.salesbop.io">
            <CardHeader>
              <h3 class="text-2xl">SalesBop</h3>
              <p>An up-and-coming AI sales coaching app</p>
            </CardHeader>
            <Image
              src={salesbop}
              alt="A screenshot of the SalesBop landing page."
              widths={projectWidths}
              sizes={projectSizes}
            />
          </Card>

          <Card href="https://wiki.egirls.dev">
            <CardHeader>
              <h3 class="text-2xl">McMaster CS Wiki</h3>
              <p>A repository of course knowledge, notes, and resources</p>
            </CardHeader>
            <Image
              src={cs_wiki}
              alt="A screenshot of the McMaster CS Wiki."
              widths={projectWidths}
              sizes={projectSizes}
            />
          </Card>

          <Card href="https://github.com/mac-egirls/oscs">
            <CardHeader>
              <h3 class="text-2xl">Open Source Cheat Sheets</h3>
              <p>
                A collection of community-built, freely modifiable course cheat
                sheets
              </p>
            </CardHeader>
            <Image
              src={oscs}
              alt="A screenshot of the Open Source Cheat Sheets preview page."
              widths={projectWidths}
              sizes={projectSizes}
            />
          </Card>
        </div>
      </div>

      <!-- LastFM -->
      <div class="">
        <h2 class="text-3xl font-semibold">LastFM</h2>
        <div class="py-4">
          <LastFM user="err53" client:visible />
        </div>
      </div>
    </div>
  </main>
  <footer class="pb-4 text-center">
    <Footer />
  </footer>
</Layout>
