---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Social from "../components/Social.astro";
import { CurrentlyPlaying } from "../components/LastFM";

import { Icon } from "astro-icon";

import personal_site from "../assets/images/personal_site.png";
import dash_banner from "../assets/images/dash-banner.png";
import dh_portal from "../assets/images/dh_portal.png";
import salesbop from "../assets/images/salesbop.png";
import cs_wiki from "../assets/images/cs_wiki.png";
import oscs from "../assets/images/oscs.png";
---

<Layout title="Jason Huang">
  <main class="mx-auto max-w-4xl space-y-8 px-5 sm:px-10">
    <div class="grid grid-cols-1 items-baseline gap-4 md:grid-cols-2">
      <!-- Hero -->
      <div class="mt-8 space-y-4">
        <h1 class="text-5xl font-bold">Jason Huang</h1>
        <p>AKA: err53, error53, json, jhthenerd</p>
        <ul class="text-xl">
          <li>Full-Stack Developer</li>
          <li>Uni Student</li>
          <li>Open-Knowledge Advocate</li>
        </ul>
      </div>
      <!-- Socials -->
      <div class="md:justify-self-end">
        <h2 class="text-3xl font-semibold md:text-right">Socials</h2>
        <div class="flex flex-wrap gap-2 pt-3">
          <Social title="Twitter" href="https://twitter.com/err_53">
            <Icon name="fa6-brands:x-twitter" />
          </Social>
          <Social
            title="LinkedIn"
            href="https://www.linkedin.com/in/jasonhuang03/"
          >
            <Icon name="fa6-brands:linkedin-in" />
          </Social>
          <Social title="Instagram" href="https://www.instagram.com/the.err53/">
            <Icon name="fa6-brands:instagram" />
          </Social>
          <Social title="Medium" href="https://err53.medium.com/">
            <Icon name="fa6-brands:medium" />
          </Social>
        </div>
      </div>
      <!-- Resume -->
      <div>
        <h2 class="text-3xl font-semibold">Resume</h2>
        <div class="pt-3">
          <Card
            title="PDF"
            description="Written in LaTeX and compiled via GH Actions"
            href="https://err53.github.io/resume/resume.pdf"
          />
        </div>
      </div>
      <!-- Projects -->
      <div class="col-span-full">
        <h2 class="text-3xl font-semibold">Projects</h2>
        <div class="grid grid-cols-1 gap-4 py-3 md:grid-cols-2">
          <Card
            title="Personal Site"
            description="You're looking at it right now!"
            href="https://github.com/err53/personal-site"
            imgSrc={personal_site}
            loading="eager"
          />

          <Card
            title="Dash"
            description="A personalizable new-tab dashboard"
            href="https://github.com/Krish120003/dash"
            imgSrc={dash_banner}
            loading="eager"
          />

          <Card
            title="DeltaHacks Portal"
            description="A hackathon registration and management system"
            href="https://github.com/deltahacks/portal"
            imgSrc={dh_portal}
          />

          <Card
            title="SalesBop"
            description="An up-and-coming AI sales coaching app"
            href="https://www.salesbop.io"
            imgSrc={salesbop}
          />

          <Card
            title="McMaster CS Wiki"
            description="A repository of course knowledge, notes, and resources"
            href="https://wiki.egirls.dev"
            imgSrc={cs_wiki}
          />

          <Card
            title="Open Source Cheat Sheets"
            description="A collection of community-built, freely modifiable course cheat sheets"
            href="https://github.com/mac-egirls/oscs"
            imgSrc={oscs}
          />
        </div>
      </div>

      <!-- LastFM -->
      <div class="col-span-full">
        <h2 class="text-3xl font-semibold">LastFM</h2>
        <div class="py-4">
          <CurrentlyPlaying client:visible />
        </div>
      </div>
    </div>
  </main>
  <footer class="pb-4 text-center">
    <Footer />
  </footer>
</Layout>
