---
import { getImage } from "astro:assets";
export interface Props {
  title: string;
  description: string;
  href: string;
  loading?: "eager" | "lazy";
  imgSrc?: ImageMetadata;
}

const { title, description, href, imgSrc, loading }: Props = Astro.props;

const widths = [398, 796, 1360];

const imgs = await Promise.all(
  widths.map(async (width) => {
    if (imgSrc) {
      return {
        width: width,
        src: await getImage({ src: imgSrc, width: width }),
      };
    }
  })
);
---

<a href={href} target="_blank" rel="noreferrer noopener" class="group h-full">
  <div
    class="flex h-full flex-col border shadow-md group-hover:bg-slate-50 group-active:bg-slate-100 group-active:shadow-none"
  >
    <h3 class="mx-6 mt-6 text-2xl">{title}</h3>
    <p class="mx-6 mb-6">{description}</p>
    {
      imgSrc && (
        <img
          alt={title}
          src={imgSrc.src}
          srcset={imgs
            .map((img) => {
              if (img) {
                return `${img.src.src} ${img.width}w`;
              }
            })
            .reduce((prev, cur) => `${prev}, \n${cur}`)}
          sizes="(min-width: 896px) 398px, (min-width: 768px) 32.2vw, 100vw"
          width={imgSrc.width}
          height={imgSrc.height}
          loading={loading ? loading : "lazy"}
          class="mt-auto group-hover:opacity-95"
        />
      )
    }
  </div>
</a>
